@{
    ViewData["Title"] = "Home Page";
}
 
  
<div class="text-center" >
    <h1 class="display-4">Welcome To SpinAgain</h1>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <p>List of All Bikes</p>
        </ul>
    </div>
</div>
<div style="align-content">
    <img src="~/images/pexels.jpg" width="50%" height="50%" />
</div>